<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests"  name="Suite">
	<listeners>
		<listener class-name="Maven_TestNG.TestComponents.Listeners"/> 
	</listeners>
	<test thread-count="5" name="Stand Alone Test">
		<classes>
			<class name='Maven_TestNG.Tests.standAloneTest' />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Error Validations">
		<classes>
			<class name='Maven_TestNG.Tests.ErrorValidation' />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->

